<div class = 'affiliate-steps-wrapper background-grey'>
    <div class = 'affiliate-step'>
        <img class = 'affiliate-step-icon' src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/1.png?v=1678743509'>
        <div class = 'affiliate-steps-text'>
            <p class = 'affiliate-steps-header'>A follower clicks your affiliate link</p>
            <p class = 'affiliate-steps-subheader'>One of your followers clicks on your affiliate link to learn more about LUMEBOX速 and our red light therapy device.</p>
        </div>
    </div>
    <div class = 'affiliate-step'>
        <img class = 'affiliate-step-icon' src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/2.png?v=1678743509'>
        <div class = 'affiliate-steps-text'>
            <p class = 'affiliate-steps-header'>IP is logged for tracking purposes</p>
            <p class = 'affiliate-steps-subheader'>The follower's IP is logged and a cookie is placed in their browser for tracking purposes.</p>
        </div>
    </div>
    <div class = 'affiliate-step'>
        <img class = 'affiliate-step-icon' src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/3.png?v=1678743510'>
        <div class = 'affiliate-steps-text'>
            <p class = 'affiliate-steps-header'>Learn more about LUMEBOX速</p>
            <p class = 'affiliate-steps-subheader'>Your follower browses our site to learn more about LUMEBOX速 and the benefits of red light therapy.</p>
        </div>
    </div>
    <div class = 'affiliate-step'>
        <img class = 'affiliate-step-icon' src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/4.png?v=1678743509'>
        <div class = 'affiliate-steps-text'>
            <p class = 'affiliate-steps-header'>An order is placed</p>
            <p class = 'affiliate-steps-subheader'>When your follower purchases a LUMEBOX速 red light therapy device, stored cookies will track the order. It is then registered as a sale for you and earn top-tiered commission!</p>
        </div>
    </div>
</div>



{% schema %}
{
  "name": "Affiliate Steps",
  "settings": [
  ],
  "blocks" : [
  ],
   "presets": [
    {
      "name": "Affiliate Steps",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
