
    <div class = 'custom-video-wrapper wrapper-routine background-grey'>
        <div class = 'video-content-routine'>
          <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Lumebox_KickStart_Page-06.jpg?v=1678753762' id = 'video-overlay-2'>
          <iframe src="https://player.vimeo.com/video/718865030?h=22577174d8&title=0&byline=0&portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" class = 'routine-video-2' frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Quick Start Guide"></iframe>
        </div>
        
        <div class = 'video-text-content text-content-routine routine-text-2'>
            <p class = 'body-size-6 heavy orange routine-margin'>Let’s Get Started</p>

            <p class = 'custom-text routine-margin dark-blue'>There are so many ways that Lumebox® can be used, but here are the top ways that Dr. Viv uses hers.</p>
            <p class = 'custom-text routine-margin dark-blue'>Please note that everyone is different, so this is just for information only, not medical advice, and what works for Dr.Viv may not apply to you – we all need different amounts of light. Just like there’s no blanket ‘correct’ vitamin D supplement dosage for everyone, the same goes for Red Light Therapy.</p>
            <p class = 'custom-text routine-margin dark-blue'>Experiment, and if you have health issues or take medications, we suggest you work with your healthcare provider and experiment to find your ideal ‘doses’.</p>
        </div>
        
    </div>

    <div class = 'custom-video-wrapper-mobile background-grey'>
        
        <div class = 'video-text-content text-content-routine'>
            <p class = 'body-size-6 heavy orange mobile-font-size-2'>Let’s Get Started</p>
            <p class = 'custom-text dark-blue'>There are so many ways that Lumebox® can be used, but here are the top ways that Dr. Viv uses hers.</p>
            <p class = 'custom-text dark-blue'>Please note that everyone is different, so this is just for information only, not medical advice, and what works for Dr.Viv may not apply to you – we all need different amounts of light. Just like there’s no blanket ‘correct’ vitamin D supplement dosage for everyone, the same goes for Red Light Therapy.</p>
            <p class = 'custom-text dark-blue'>Experiment, and if you have health issues or take medications, we suggest you work with your healthcare provider and experiment to find your ideal ‘doses’.</p>
        </div>

        <div class = 'video-content-routine'>
          <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Lumebox_KickStart_Page-06.jpg?v=1678753762' id = 'video-overlay-mobile-2'>
          <iframe src="https://player.vimeo.com/video/718865030?h=22577174d8&title=0&byline=0&portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" class = 'routine-video-2' frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Quick Start Guide"></iframe>
        </div>

    </div>

<script src="https://player.vimeo.com/api/player.js"></script>

{% schema %}
{
  "name": "Routine Video 2",
  "settings": [
  ],
  "blocks" : [
  ],
   "presets": [
    {
      "name": "Routine Video 2",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}