<div class = 'testing-div-one two'>
  <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/EMF-Chart-updated.png?v=1678177478' class = 'testing-image'>
</div>




{% schema %}
{
  "name": "Testing three",
  "settings": [
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Testing three",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}