<div class = 'background-white'>
    <div class = 'custom-wrapper'>
        <div class = 'custom-text-column'>
            <div class = 'text-quadrant'>
                <div class = 'text-section'><p class = 'custom-text mitochondria-margin'><span class = 'orange'>It all comes down to this secret root
                cause you probably didn’t know
                about - poor mitochondria health.</span></p></div>
                <div class = 'text-section'><p class = 'custom-text mitochondria-margin'>
                Mitochondria are the powerhouses
                that produce energy for our cells to
                work. [2]</p></div>
                <div class = 'text-section'><p class = 'custom-text mitochondria-margin'>
                “Loss of function in mitochondria can
                result in the excess fatigue and other
                symptoms that are common
                complaints in almost every chronic
                disease.” [1]</p></div>
                <div class = 'text-section'><p class = 'custom-text mitochondria-margin'>
                Sadly, many factors from modern day
                living can attack our mitochondria
                leading to lowered mitochondrial
                function.*</p></div>
            </div>
        </div>
        <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Lumebox_Website_mitochondria.png?v=1669782792' class = 'custom-image-mitochondria'>
        <div class = 'custom-text-column'>
            <div class = 'text-quadrant'>
                <div class = 'text-section'><p class = 'custom-text mitochondria-margin'><span class = 'orange'>This is where red light therapy comes in.</span></p></div>
                <div class = 'text-section'><p class = 'custom-text mitochondria-margin'>
                Thankfully, mitochondria has an affinity
                for light and has receivers which can
                absorb light, particularly in the red
                wavelength range.</p></div>
                <div class = 'text-section'><p class = 'custom-text mitochondria-margin'>
                When our mitochondria absorb red light, a
                cascade of cellular processes are
                potentially activated [5] that may aid with
                healthy skin, inflammation, less pain and
                recovery. Another name for this process is
                “photobiomodulation”.</p></div>
                <div class = 'text-section'><p class = 'custom-text mitochondria-margin'>
                In vitro studies have shown that
                photobiomodulation can both
                increase mitochondria[3] AND boost their
                function [4].</p></div>
            </div>
        </div>
    </div>
</div>




{% schema %}
{
  "name": "Custom Content Two",
  "settings": [
  ],
  "blocks" : [
  ],
   "presets": [
    {
      "name": "Custom Content Two",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
