
    <div class = 'custom-video-wrapper talking-point'>
        <div class = 'video-text-content-talking-point'>
            <p class = 'body-size-3 medium white'>Join Us Today And Help People Discover The Endless Benefits Of Red Light Therapy.</p>
            <p class = 'body-size-6 heavy white small-vertical-margin'>We are super honored and excited to work with you.</p>
            <p class = 'custom-text white'>LED red light therapy is a safe yet under-utilized health tool.</p>
            <p class = 'custom-text white'>Our mission is to bring a PREMIUM quality, 3rd party lab tested, portable unit that offers a larger treatment area, more power, AT AN AFFORDABLE PRICE so more people can enjoy the benefits of Red Light Therapy without expensive visits to the doctors’ office.</p>
        </div>
        <iframe class = 'video-content-talking-point' src="https://www.youtube.com/embed/FZhIk7jDy9s?autoplay=1"></iframe>
    </div>

    <div class = 'custom-video-wrapper-mobile'>
        <iframe class = 'video-content'
                src="https://www.youtube.com/embed/FZhIk7jDy9s?autoplay=1"></iframe>
        <div class = 'video-text-content'>
            <p class = 'body-size-3 medium white'>Join Us Today And Help People Discover The Endless Benefits Of Red Light Therapy.</p>
            <p class = 'body-size-6 heavy small-vertical-margin white'>We are super honored and excited to work with you.</p>
            <p class = 'custom-text white'>LED red light therapy is a safe yet under-utilized health tool.</p>
            <p class = 'custom-text white'>Our mission is to bring a PREMIUM quality, 3rd party lab tested, portable unit that offers a larger treatment area, more power, AT AN AFFORDABLE PRICE so more people can enjoy the benefits of Red Light Therapy without expensive visits to the doctors’ office.</p>
        </div>
    </div>




{% schema %}
{
  "name": "Custom Video",
  "settings": [
  ],
  "blocks" : [
  ],
   "presets": [
    {
      "name": "Custom Video",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}