<div class = 'affiliate-header'>
    <div class = 'affiliate-header-div'>
        <p class = 'body-size-6 heavy white mobile-top-margin'>Apply To Become An Affiliate Today!</p>
    </div>
    <div class = 'affiliate-header-div'>
        <a href = 'https://lumebox.everflowclient.io/affiliate/signup' class = 'small-button-text round-corners center-margin'>Apply Now!</a>
    </div>
</div>



{% schema %}
{
  "name": "Affiliate banner",
  "settings": [
    {
        "type": "text",
        "id": "header",
        "label": "text"
    },
    {
      "type": "text",
      "id": "sub_header",
      "label": "text"
    }
  ],
  "blocks" : [
  ],
   "presets": [
    {
      "name": "Affiliate banner",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
