
<div class = 'custom-sources'>
        <div class = 'source-column'>
        <p>[1] Nicolson GL. Mitochondrial
        Dysfunction and Chronic Disease:
        Treatment With Natural Supplements.
        Integr Med (Encinitas). 2014
        Aug;13(4):35-43. PMID: 26770107;
        PMCID: PMC4566449</p>
        <br>
        <p>[2] Bonora M, Patergnani S, Rimessi A,
        De Marchi E, Suski JM, Bononi A, Giorgi
        C, Marchi S, Missiroli S, Poletti F,
        Wieckowski MR, Pinton P. ATP synthesis
        and storage. Purinergic Signal. 2012
        Sep;8(3):343-57. DOI:
        10.1007/s11302-012-9305-8. Epub 2012
        Apr 12. PMID: 22528680; PMCID:
        PMC3360099.</p>
        <br>
        <p>[3] Karu T. Primary and Secondary
        Mechanisms of Action of Visible to
        Near-IR Radiation on Cells. Journal of
        Photochemistry Photobiology. 1999
        Mar.</p>
        </div>
        <div class = 'source-column'>
        <p>[4] Ferraresi C, Kaippert B, et al.
        Low-level Laser (Light) Therapy
        Increases Mitochondrial Membrane
        Potential and ATP Synthesis in C2C12
        Myotubes with a Peak Response at 3-6
        h. Photochemistry and Photobiology.
        2015 Mar.</p>
        <br>
        <p>[5] Karu TI. Mitochondrial signaling in
        mammalian cells is activated by red and
        near-IR radiation. Photochem
        Photobiol. 2008 Sep-Oct;84(5):1091-9.
        DOI: 10.1111/j.1751-1097.2008.00394.x.
        Epub 2008 Jul 18. PMID: 18651871.</p>
        <br>
        <p>[6] Wunsch, A., & Matuschka, K. (2014). A
        controlled trial to determine the
        efficacy of red and near-infrared light
        treatment in patient satisfaction,
        reduction of fine lines, wrinkles, skin
        roughness, and intradermal collagen
        density increase. Photomedicine and
        laser surgery, 32(2), 93–100.
        doi.org/10.1089/pho.2013.3616</p>
        </div>
        <div class = 'source-column'>
        <p>[7] Daily JW, Yang M, Park S. Efficacy of
        Turmeric Extracts and Curcumin for
        Alleviating the Symptoms of Joint
        Arthritis: A Systematic Review and
        Meta-Analysis of Randomized Clinical
        Trials. J Med Food. 2016
        Aug;19(8):717-29. DOI:
        10.1089/jmf.2016.3705. PMID: 27533649;
        PMCID: PMC5003001.</p>
        <br>
        <p>[8] Hamblin M. R. (2017). Mechanisms
        and applications of the
        anti-inflammatory effects of
        photobiomodulation. AIMS biophysics,
        4(3), 337–361.
        doi.org/10.3934/biophy.2017.3.3
        37</p>
        <br>
        <p>[9] isaiti A, Zhou Y, Wen Y, Zhou W,
        Wang C, Zhao J, Yu L, Zhang J, Wang K,
        Svensson P. Effect of
        photobiomodulation therapy on painful
        temporomandibular disorders. Sci Rep.
        2021 Apr 27;11(1):9049. DOI:
        10.1038/s41598-021-87265-0. PMID:
        33907210; PMCID: PMC8079391.</p>
        </div>
        <div class = 'source-column'>
        <p>[10] Whelan HT, Smits RL Jr, Buchman
        EV, Whelan NT, Turner SG, Margolis DA,
        Cevenini V, Stinson H, Ignatius R, Martin
        T, Cwiklinski J, Philippi AF, Graf WR,
        Hodgson B, Gould L, Kane M, Chen G,
        Caviness J. Effect of NASA
        light-emitting diode irradiation on
        wound healing. J Clin Laser Med Surg.
        2001 Dec;19(6):305-14. DOI:
        10.1089/104454701753342758. PMID:
        11776448.</p>
        <br>
        <p>[11] Cotler HB. A NASA discovery has
        current applications in orthopedics.
        Curr Orthop Pract. 2015 Jan;26(1):72-74.
        DOI: 10.1097/BCO.0000000000000196.
        PMID: 25541589; PMCID: PMC4272231.<p>
        <br>
        <p>[12] Hroudová J, Fišar Z, Kitzlerová E,
        Zvěřová M, Raboch J: Mitochondrial
        respiration in blood platelets of
        depressive patients. Mitochondrion,
        2013; 13:795-800.<p>
        </div>
        <div class = 'source-column'>
        <p>[13] Schiffer F, Johnston AL,
        Ravichandran C, Polcari A, Teicher MH,
        et al.: Psychological benefits 2 and 4
        weeks after a single treatment with
        near-infrared light to the forehead: a
        pilot study of 10 patients with major
        depression and anxiety. Behav Brain
        Funct, 2009; 8:46</p>
        <br>
        <p>[14] Cassano P, Cusin C, Mischoulon D,
        Hamblin MR, De Taboada, et al.:
        Near-Infrared Transcranial Radiation for
        Major Depressive Disorder: Proof of
        Concept Study. Psychiatry J, 2015;
        2015:352979.</p>
        <br>
        <p>[15] Gabel CP, Petrie SR, Mischoulon D,
        Hamblin MR, Yeung A, Sangermano L,
        Cassano P. A case-control series for the
        effect of photobiomodulation in
        patients with low back pain and
        concurrent depression. Laser Ther. 2018
        Sep 30;27(3):167-173. DOI:
        10.5978/islsm.27_18-OR-18. PMID:
        32158062; PMCID: PMC7034249.<p>
        </div>
</div>


<div class = 'custom-sources-mobile'>
        <div class = 'source-column-mobile'>
        <p>[1] Nicolson GL. Mitochondrial
        Dysfunction and Chronic Disease:
        Treatment With Natural Supplements.
        Integr Med (Encinitas). 2014
        Aug;13(4):35-43. PMID: 26770107;
        PMCID: PMC4566449</p>
        <br>
        <p>[2] Bonora M, Patergnani S, Rimessi A,
        De Marchi E, Suski JM, Bononi A, Giorgi
        C, Marchi S, Missiroli S, Poletti F,
        Wieckowski MR, Pinton P. ATP synthesis
        and storage. Purinergic Signal. 2012
        Sep;8(3):343-57. DOI:
        10.1007/s11302-012-9305-8. Epub 2012
        Apr 12. PMID: 22528680; PMCID:
        PMC3360099.</p>
        <br>
        <p>[3] Karu T. Primary and Secondary
        Mechanisms of Action of Visible to
        Near-IR Radiation on Cells. Journal of
        Photochemistry Photobiology. 1999
        Mar.</p>
        <br>
        <p>[4] Ferraresi C, Kaippert B, et al.
        Low-level Laser (Light) Therapy
        Increases Mitochondrial Membrane
        Potential and ATP Synthesis in C2C12
        Myotubes with a Peak Response at 3-6
        h. Photochemistry and Photobiology.
        2015 Mar.</p>
        <br>
        <p>[5] Karu TI. Mitochondrial signaling in
        mammalian cells is activated by red and
        near-IR radiation. Photochem
        Photobiol. 2008 Sep-Oct;84(5):1091-9.
        DOI: 10.1111/j.1751-1097.2008.00394.x.
        Epub 2008 Jul 18. PMID: 18651871.</p>
        <br>
        <p>[6] Wunsch, A., & Matuschka, K. (2014). A
        controlled trial to determine the
        efficacy of red and near-infrared light
        treatment in patient satisfaction,
        reduction of fine lines, wrinkles, skin
        roughness, and intradermal collagen
        density increase. Photomedicine and
        laser surgery, 32(2), 93–100.
        doi.org/10.1089/pho.2013.3616</p>
        <br>
        <p>[7] Daily JW, Yang M, Park S. Efficacy of
        Turmeric Extracts and Curcumin for
        Alleviating the Symptoms of Joint
        Arthritis: A Systematic Review and
        Meta-Analysis of Randomized Clinical
        Trials. J Med Food. 2016
        Aug;19(8):717-29. DOI:
        10.1089/jmf.2016.3705. PMID: 27533649;
        PMCID: PMC5003001.</p>
        <br>
        <p>[8] Hamblin M. R. (2017). Mechanisms
        and applications of the
        anti-inflammatory effects of
        photobiomodulation. AIMS biophysics,
        4(3), 337–361.
        doi.org/10.3934/biophy.2017.3.3
        37</p>
        </div>
        <div class = 'source-column-mobile'>
        <p>[9] isaiti A, Zhou Y, Wen Y, Zhou W,
        Wang C, Zhao J, Yu L, Zhang J, Wang K,
        Svensson P. Effect of
        photobiomodulation therapy on painful
        temporomandibular disorders. Sci Rep.
        2021 Apr 27;11(1):9049. DOI:
        10.1038/s41598-021-87265-0. PMID:
        33907210; PMCID: PMC8079391.</p>
        <br>
        <p>[10] Whelan HT, Smits RL Jr, Buchman
        EV, Whelan NT, Turner SG, Margolis DA,
        Cevenini V, Stinson H, Ignatius R, Martin
        T, Cwiklinski J, Philippi AF, Graf WR,
        Hodgson B, Gould L, Kane M, Chen G,
        Caviness J. Effect of NASA
        light-emitting diode irradiation on
        wound healing. J Clin Laser Med Surg.
        2001 Dec;19(6):305-14. DOI:
        10.1089/104454701753342758. PMID:
        11776448.</p>
        <br>
        <p>[11] Cotler HB. A NASA discovery has
        current applications in orthopedics.
        Curr Orthop Pract. 2015 Jan;26(1):72-74.
        DOI: 10.1097/BCO.0000000000000196.
        PMID: 25541589; PMCID: PMC4272231.<p>
        <br>
        <p>[12] Hroudová J, Fišar Z, Kitzlerová E,
        Zvěřová M, Raboch J: Mitochondrial
        respiration in blood platelets of
        depressive patients. Mitochondrion,
        2013; 13:795-800.<p>
        <br>
        <p>[13] Schiffer F, Johnston AL,
        Ravichandran C, Polcari A, Teicher MH,
        et al.: Psychological benefits 2 and 4
        weeks after a single treatment with
        near-infrared light to the forehead: a
        pilot study of 10 patients with major
        depression and anxiety. Behav Brain
        Funct, 2009; 8:46</p>
        <br>
        <p>[14] Cassano P, Cusin C, Mischoulon D,
        Hamblin MR, De Taboada, et al.:
        Near-Infrared Transcranial Radiation for
        Major Depressive Disorder: Proof of
        Concept Study. Psychiatry J, 2015;
        2015:352979.</p>
        <br>
        <p>[15] Gabel CP, Petrie SR, Mischoulon D,
        Hamblin MR, Yeung A, Sangermano L,
        Cassano P. A case-control series for the
        effect of photobiomodulation in
        patients with low back pain and
        concurrent depression. Laser Ther. 2018
        Sep 30;27(3):167-173. DOI:
        10.5978/islsm.27_18-OR-18. PMID:
        32158062; PMCID: PMC7034249.<p>
        </div>
</div>






{% schema %}
{
  "name": "Sources",
  "settings": [
  ],
  "blocks" : [
  ],
   "presets": [
    {
      "name": "Sources",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
