
    <div class = 'specs-wrapper'>
        <a href = 'https://thelumebox.com/wp-content/uploads/2022/04/LUMEBOX-Red-Light-Device-Product-Spec-Chart.pdf' target="_blank" class = 'specs-button round-corners'>Download Design Specifications Here</a>
        <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/product-specs.jpg?v=1678491056' class = 'specs-image'>
    </div>





{% schema %}
{
  "name": "Specs",
  "settings": [
  ],
  "blocks" : [
  ],
   "presets": [
    {
      "name": "Specs",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}