
    <div class = 'competitor-analysis-div'>
      <p class = 'competitor-analysis-text'>All test results executed & verified by independent 3rd party laboratories not associated with LUMEBOX®.</p>
      <div class = 'competitor-analysis-images'>
        <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Red-Light-Irradiance-Bar-Graph.png?v=1678492200' class = 'competitor-analysis-image'>
        <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/NIR-Irradiance-Bar-Graph.png?v=1678492200' class = 'competitor-analysis-image'>
        <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Body-Surface-Coverage-Bar-Graph.png?v=1678492200' class = 'competitor-analysis-image'>
        <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Battery-Life-Bar-Graph.png?v=1678492201' class = 'competitor-analysis-image'>
        <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Charging-Time-Bar-Graph.png?v=1678492200' class = 'competitor-analysis-image'>
     </div>
    </div>




{% schema %}
{
  "name": "Competitor Analysis",
  "settings": [
  ],
  "blocks" : [
  ],
   "presets": [
    {
      "name": "Competitor Analysis",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}