
    <div class = 'routine-buttons-wrapper background-white'>
        <div id = 'routine-button-1' class = 'routine-button body-size-1'><img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Lumebox_KickStart_Page-14.png?v=1678753762' class = 'logo-bullet'><p class = 'dark-blue button-text'>Skin Health</p></div>
        <div id = 'routine-button-2' class = 'routine-button body-size-1'><img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Lumebox_KickStart_Page-14.png?v=1678753762' class = 'logo-bullet'><p class = 'dark-blue button-text'>Pain and inflammation</p></div>
        <div id = 'routine-button-3' class = 'routine-button body-size-1'><img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Lumebox_KickStart_Page-14.png?v=1678753762' class = 'logo-bullet'><p class = 'dark-blue button-text'>Relaxation and Sleep</p></div>
        <div id = 'routine-button-4' class = 'routine-button body-size-1'><img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Lumebox_KickStart_Page-14.png?v=1678753762' class = 'logo-bullet'><p class = 'dark-blue button-text'>Tissue recovery</p></div>
    </div>

 

<script src="https://player.vimeo.com/api/player.js"></script>

{% schema %}
{
  "name": "Routine Buttons",
  "settings": [
  ],
  "blocks" : [
  ],
   "presets": [
    {
      "name": "Routine Buttons",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}