
    <div class = 'custom-video-wrapper wrapper-routine background-white'>
        <div class = 'video-text-content text-content-routine routine-text-1'>
            <p class = 'routine-1-header heavy orange routine-margin'>Hi Friends!</p>
            <p class = 'body-size-7 dark-blue small-vertical-margin routine-margin'>Welcome to the LUMEBOX fam! We are so excited you are here.</p>
            <p class = 'custom-text dark-blue routine-margin'>Your LUMEBOX is versatile, powerful, and can be used for so many things, from skin rejuvenation to reducing soreness and inflammation.</p>
            <p class = 'custom-text dark-blue routine-margin'>Many of you might be new to red light therapy, so we’ve provided this guide to help you get the most out of it.</p>
            <p class = 'custom-text dark-blue routine-margin'>First of all, here is a 59 second video on how to set up your LUMEBOX and get started.</p>
        </div>

        <div class = 'video-content-routine'>
          <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Lumebox_KickStart_Page-04.jpg?v=1678753762' id = 'video-overlay'>
            <iframe src="https://player.vimeo.com/video/718884416?h=855f0c4404&title=0&byline=0&portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" class = 'routine-video-1' frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Quick Start Guide">
          </iframe>
        </div>
        
    </div>

    <div class = 'custom-video-wrapper-mobile background-white'>
        <div class = 'video-text-content text-content-routine'>
            <p class = 'body-size-7 heavy orange mobile-font-size-2'>Hi Friends!</p>
            <p class = 'body-size-7 small-vertical-margin mobile-font-size dark-blue'>Welcome to the LUMEBOX fam! We are so excited you are here.</p>
            <p class = 'custom-text dark-blue'>Your LUMEBOX is versatile, powerful, and can be used for so many things, from skin rejuvenation to reducing soreness and inflammation.</p>
            <p class = 'custom-text dark-blue'>Many of you might be new to red light therapy, so we’ve provided this guide to help you get the most out of it.</p>
            <p class = 'custom-text dark-blue'>First of all, here is a 59 second video on how to set up your LUMEBOX and get started.</p>
        </div>

        <div class = 'video-content-routine'>
          <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Lumebox_KickStart_Page-04.jpg?v=1678753762' id = 'video-overlay-mobile'>
            <iframe src="https://player.vimeo.com/video/718884416?h=855f0c4404&title=0&byline=0&portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" class = 'routine-video-1' frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Quick Start Guide">
          </iframe>
        </div>

    </div>



{% schema %}
{
  "name": "Routine Video 1",
  "settings": [
  ],
  "blocks" : [
  ],
   "presets": [
    {
      "name": "Routine Video 1",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}