
    <div class = 'custom-video-wrapper'>
        <div class = 'affiliate-text-content'>
            <p class = 'body-size-3 medium white'>Join Us Today And Help People Discover The Endless Benefits Of Red Light Therapy.</p>
            <p class = 'body-size-6 heavy white small-vertical-margin'>Become A LUMEBOX速 Affiliate!</p>
            <p class = 'custom-text white top-margin'>Here at LUMEBOX速, we believe in developing health and wellness red light therapy devices fit for everyone because we believe everybody deserves the most advanced light therapy available.</p>
            <p class = 'custom-text white top-margin'>For questions or further details about becoming an affiliate, you can also contact us at affiliate@thelumebox.com.</p>
            <a href = 'https://lumebox.everflowclient.io/affiliate/signup' class = 'small-button-text round-corners'>Become an Affiliate!</a>
        </div>
        <img class = 'affiliate-image' src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/become-an-affiliate.jpg?v=1678395008'>
    </div>

    <div class = 'custom-video-wrapper-mobile'>
        <img class = 'affiliate-image' src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/become-an-affiliate.jpg?v=1678395008'>


        <div class = 'affiliate-text-content'>
            <p class = 'body-size-3 medium white'>Join Us Today And Help People Discover The Endless Benefits Of Red Light Therapy.</p>
            <p class = 'body-size-6 heavy small-vertical-margin white'>Become A LUMEBOX速 Affiliate!</p>
            <p class = 'custom-text white'>Here at LUMEBOX速, we believe in developing health and wellness red light therapy devices fit for everyone because we believe everybody deserves the most advanced light therapy available.</p>
            <p class = 'custom-text white'>For questions or further details about becoming an affiliate, you can also contact us at affiliate@thelumebox.com.</p>
            <a href = 'https://lumebox.everflowclient.io/affiliate/signup' class = 'small-button-text round-corners'>Become an Affiliate!</a>
        </div>
    </div>




{% schema %}
{
  "name": "Affiliate section",
  "settings": [
  ],
  "blocks" : [
  ],
   "presets": [
    {
      "name": "Affiliate section",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}