<div class = 'font-sizes'>
  <p class = 'body-size-6'>*H1 - The quick brown fox jumps over the lazy dog<br>The quick brown fox jumps over the lazy dog</p>
  <div class = 'divider'></div>
  <p class = 'body-size-7'>*H2 - The quick brown fox jumps over the lazy dog<br>The quick brown fox jumps over the lazy dog</p>
  <div class = 'divider'></div>

  <p class = 'body-size-5'>*H3 - The quick brown fox jumps over the lazy dog<br>The quick brown fox jumps over the lazy dog</p>
  <div class = 'divider'></div>

  <p class = 'body-size-4'>H4 - The quick brown fox jumps over the lazy dog<br>The quick brown fox jumps over the lazy dog</p>
  <div class = 'divider'></div>

  <p class = 'body-size-3'>H5 - The quick brown fox jumps over the lazy dog<br>The quick brown fox jumps over the lazy dog</p>
  <div class = 'divider'></div>

  <p class = 'body-size-2'>*H6 - The quick brown fox jumps over the lazy dog<br>The quick brown fox jumps over the lazy dog</p>
  <div class = 'divider'></div>

  <p class = 'body-size-1'>*p - The quick brown fox jumps over the lazy dog<br>The quick brown fox jumps over the lazy dog</p>

  

  

</div>






{% schema %}
{
  "name": "Font Sizes",
  "settings": [
  ],
  "blocks" : [
    {
      "type": "linklist",
      "name": "Link list",
      "settings": [
        {
          "type": "link_list",
          "id": "linklist",
          "label": "Link list",
          "default": "footer",
          "info": "This menu won't show dropdown items."
        }
      ]
    } 
  ],
   "presets": [
    {
      "name": "Font Sizes",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}

