<div class = 'custom-header custom-header-peach instagram-header'>
    <p class = 'instagram-text'>FOR MORE TIPS, FOLLOW US</p>
    <a href = 'https://www.instagram.com/lumeboxpro/' target = '/blank'><img class = 'instagram-icon' src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Untitled_design-3.png?v=1678675871'></a>
</div>



{% schema %}
{
  "name": "Instagram banner",
  "settings": [
    {
        "type": "text",
        "id": "header",
        "label": "text"
    },
    {
      "type": "text",
      "id": "sub_header",
      "label": "text"
    }
  ],
  "blocks" : [
  ],
   "presets": [
    {
      "name": "Instagram Banner",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
