<div class = 'background-orange one-desktop'>
    <img src = "https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Lumebox_Website_RD2-54.png?v=1681406613"
    class = "person-static-image">
</div>

<div class = 'background-orange one-mobile'>
    <img class = 'mobile-logo-one' src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Lumebox_Website_UV-_Icon_only.png?v=1669782791'>
    <img class = 'mobile-logo-two' src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Lumebox_Website_UV-_Icon_only.png?v=1669782791'>
    <div class = mitochondria-column>
      <div class = mitochondria-quadrant>
        <p class = mitochondria-subheading>NATURE’S GLOWING FACIAL</p>
        <p class = mitochondria-heading>Healthier Skin</p>
        <p class = mitochondria-text>Laser and LED red light therapy may
        help boost collagen production,
        reduce inflammation and therefore
        improve appearances of wrinkles,
        scars, skin texture, and elasticity. [6]</p>
      </div>
      <div class = mitochondria-quadrant>
        <p class = mitochondria-subheading>THE RAY OF LIGHT TOURNIQUET</p>
        <p class = mitochondria-heading>Faster Recovery</p>
        <p class = mitochondria-text>“LED [RLT] produced improvement of
        greater than 40% in musculoskeletal
        training injuries in Navy SEAL team
        members, and decreased wound
        healing time in crew members aboard
        a U.S. Naval submarine.” [10, 11]</p>
      </div>
      <div class = mitochondria-quadrant>
        <p class = mitochondria-subheading>SUN’S TUMERIC</p>
        <p class = mitochondria-heading>Reduced Joint Pain & 
        Inflammation</p>
        <p class = mitochondria-text>Clinical studies have shown laser
        or LED based RLT can soothe sore
        muscles, improve joint health and
        reduce pain, [8, 9], just like
        turmeric [7].</p>
      </div>
      <div class = mitochondria-quadrant>
        <p class = mitochondria-subheading>THE FEEL GOOD WARM GLOW</p>
        <p class = mitochondria-heading>Better Mood
        & Energy</p>
        <p class = mitochondria-text>Transcranial laser-based RLT have
        been shown to benefit patients
        with depression [13, 14], and a small
        case study also showed LED based
        RLT applied to the back improved
        depressive symptoms in people
        with lower back pain. [15]</p>
      </div>
    </div>
</div>



{% schema %}
{
  "name": "Custom Content One",
  "settings": [
  ],
  "blocks" : [
  ],
   "presets": [
    {
      "name": "Custom Content One",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
