<div class = 'custom-map-wrapper background-grey'> 
<img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Lumebox_Website_UV-_Icon_only.png?v=1669782791' class = 'map-logo-1'>
<img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Lumebox_Website_UV-_Icon_only.png?v=1669782791' class = 'map-logo-2'>
<img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Lumebox_Website_UV-_Icon_only.png?v=1669782791' class = 'map-logo-3'>
    <div class = 'map-text'>
        <div class = 'map-text-section'>
            <a href = "mailto: help@thelumebox.com"><img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Untitled_design-4.png?v=1678741080' class = 'map-social'></a>
            <div>
                <p class = 'map-text-header'>Email Us</p>
                <p class = 'map-text-subheader'>help@thelumebox.com</p>
            </div>
        </div>
        <div class = 'map-text-section'>
            <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Untitled_design-5.png?v=1678741081' class = 'map-social'>
            <div>
                <p class = 'map-text-header'>Address</p>
                <p class = 'map-text-subheader'>11040 Bollinger Canyon Road; Ste E888, San Ramon CA 94582</p>
            </div>
        </div>
        <div class = 'map-socials'>
            <p class = 'map-text-header'>Follow Us!</p>
            <div class = 'map-links'>
                <a href = 'https://www.facebook.com/Lumeboxpro/' target = '/blank'><img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Untitled_design-6.png?v=16787410812' class = 'map-social'></a>
                <a href = 'https://www.instagram.com/lumeboxpro/' target = '/blank'><img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Untitled_design-7.png?v=1678741081' class = 'map-social'></a>
            </div>
        </div>
    </div>
    <iframe class = 'custom-map' style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJbwCmegvyj4ARfqoV8-tkyX8&key=AIzaSyBxoIlSPYtIKo5F5bQWcIbCaM38msrzJnQ"></iframe>
</div>



{% schema %}
{
  "name": "Custom Map",
  "settings": [
  ],
  "blocks" : [
  ],
   "presets": [
    {
      "name": "Custom Map",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
