<div class = 'testing-div-one'>
  <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Picture1.png?v=1677993869' class = 'testing-image'>
  <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Picture2.png?v=1677993870' class = 'testing-image'>
  <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Picture3.png?v=1677993870' class = 'testing-image'>
  <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/Picture4.png?v=1677993870' class = 'testing-image'>
</div>




{% schema %}
{
  "name": "Testing one",
  "settings": [
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Testing one",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}