<div class = 'testing-div-one two'>
  <img src = 'https://cdn.shopify.com/s/files/1/0683/1839/6699/files/EMF-test-report-scaled.jpg?v=1677993870' class = 'testing-image'>
</div>




{% schema %}
{
  "name": "Testing two",
  "settings": [
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Testing two",
      "category": "Image",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}